/* LIST CLOUD (project & languages) */
.list-cloud li {
  background: #fff;
  display: inline-block;
  padding: 3px 4px;
  margin: 4px 3px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
  .list-cloud li:hover {
    background: #E0F6FF;
    border-color: #81CCE8;
  }
  .list-cloud li img{
    vertical-align: middle;
  }
  .list-cloud li a {
    color: #222;
    border: none;
  }
  .list-cloud.w-stats li {
    text-align: right;
    width: 314px;
  }
  
  .list-cloud li.new {
    opacity: 0.6;
  }
  .list-cloud li.add {
    border: none;
    text-align: left;
  }
    .list-cloud li.add a {
      color: #f70;
      text-decoration: none;
      border-bottom: 1px dotted #f70;
    }
    .list-cloud li.add a:hover {
      border-bottom-style: solid;
    }
    .list-cloud li.add:hover {
      background: transparent;
    }


/* EDIT ARRAY */
#diffs_search {
  height:2em;
  margin-top:10px;
}
#diffs {
  margin-top:10px;
}
  #diffs table {
    width: 100%;
  }
  #diffs td {
    width: 50%;
    height: 36px;
    text-align: left;
  }
  #diffs td.original, #diffs td.translation {
    padding: 5px;
  }
  #diffs tr.main textarea {
    display: block;
    width: 480px;
    border-left: 3px solid #bbb;
    background: #f6f6f6;
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: -moz-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
  }
  #diffs tr.missing textarea {
    border-left-color: #d30;
    background: #fff6f6;
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2e0e0 100%);
    background: -moz-linear-gradient(top, #ffffff 0%,#f2e0e0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f2e0e0 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f2e0e0 100%);
    background: linear-gradient(top, #ffffff 0%,#f2e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e0e0',GradientType=0 );
  }
  #diffs tr.new textarea {
    border-left-color: #00b800;
    background: #e0f2e0;
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0f2e0 100%);
    background: -moz-linear-gradient(top, #ffffff 0%,#e0f2e0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e0f2e0 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e0f2e0 100%);
    background: linear-gradient(top, #ffffff 0%,#e0f2e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0f2e0',GradientType=0 );
  }
  #diffs tr.details td {
    vertical-align: top;
  }
    
  #diffs pre, #diffs p {
    display: block;
    width: 98.5%;
  } 
  #diffs p.login {
    color: #999;
    font-style: italic;
  }
    #diffs p.login a {
      color: #777;
      border-bottom: 1px solid #777;
    }
    
  ul.row_log {
    list-style: none;
  }
    ul.row_log li {
      background: url('../images/bullet_blue.png') center left no-repeat;
      padding-left: 20px;
      border-top: 1px solid #aaa;
      margin-bottom: 3px;
    }
    ul.row_log li:first-child {
      border: none;
    }
    ul.row_log span {
      font-style: italic;
    }
    ul.row_log a {
      border: none;
    }

/* login & profile & register */
table.login td {
  padding: 2px;
  vertical-align: middle;
}
table.login tr td:first-child {
  vertical-align: top;
  text-align: right;
  width: 140px;
  font-weight: bold;
}


/* PROGRESS BAR */
.progressBar {
  display: inline-block;
  height: 14px;
  background: #efefef url('../images/gauge-gradient.png') repeat-x;
  border-radius: 2px;
  border-color: #aaa;
  border-style: solid;
  border-width: 0 1px;
  text-align: left;
}
  .progressBar .bar {
    display: inline-block;
    height: 14px;
    background-image: url('../images/gauge-gradient.png');
    background-position: repeat-x;
    border-radius: 2px;
    text-align: right;
    color: #111;
    text-shadow: 0 0 2px #fff;
    font-size: 11px;
    vertical-align: top;
  }

/* overlay AJAX message */
#overlay-message {
  display: none;
  position: fixed;
  margin-left: -50px;
  font-size: 1.2em;
  border-radius: 4px;
  box-shadow: 0 0 5px #666;
  z-index: 9999;
}


/* DISPLAY BUTTONS on edit page */
#display_buttons {}
  #display_buttons a {
    float: left;
    padding: 2px 10px;
    border: 1px solid #ccc;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    background: #f6f6f6;
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: -moz-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
  }
  #display_buttons a.all {
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
    #display_buttons a.all.active {
      color: #fff;
      border-color: #527B13;
      background: #86b91f;
      box-shadow: inset 0 0 5px #527B13;
      background: -webkit-linear-gradient(top,  #86b91f 0%,#4f810f 100%);
      background: -moz-linear-gradient(top,  #86b91f 0%, #4f810f 100%);
      background: -ms-linear-gradient(top,  #86b91f 0%,#4f810f 100%);
      background: -o-linear-gradient(top,  #86b91f 0%,#4f810f 100%);
      background: linear-gradient(top,  #86b91f 0%,#4f810f 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b91f', endColorstr='#4f810f',GradientType=0 );
    }
  #display_buttons a.missing {
    border-left: none;
    border-right: none;
  }
    #display_buttons a.missing.active {
      color: #fff;
      border-color: #720100;
      background: #c12020;
      box-shadow: inset 0 0 5px #720100;
      background: -webkit-linear-gradient(top,  #c12020 0%,#871210 100%);
      background: -moz-linear-gradient(top,  #c12020 0%, #871210 100%);
      background: -ms-linear-gradient(top,  #c12020 0%,#871210 100%);
      background: -o-linear-gradient(top,  #c12020 0%,#871210 100%);
      background: linear-gradient(top,  #c12020 0%,#871210 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c12020', endColorstr='#871210',GradientType=0 );
    }
  #display_buttons a.search {
    border-left: none;
    border-radius: 0 5px 5px 0;
  }
    #display_buttons a.search.active {
      color: #fff;
      border-color: #003b8e;
      background: #2084db;
      box-shadow: inset 0 0 5px #003b8e;
      background: -webkit-linear-gradient(top,  #2084db 0%,#003b8e 100%);
      background: -moz-linear-gradient(top,  #2084db 0%, #003b8e 100%);
      background: -ms-linear-gradient(top,  #2084db 0%,#003b8e 100%);
      background: -o-linear-gradient(top,  #2084db 0%,#003b8e 100%);
      background: linear-gradient(top,  #2084db 0%,#003b8e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2084db', endColorstr='#003b8e',GradientType=0 );
    }
  #display_buttons a:hover {
    background: #e0e0e0;
    background: -webkit-linear-gradient(top,  #e0e0e0 0%,#ffffff 100%);
    background: -moz-linear-gradient(top,  #e0e0e0 0%, #ffffff 100%);
    background: -ms-linear-gradient(top,  #e0e0e0 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #e0e0e0 0%,#ffffff 100%);
    background: linear-gradient(top,  #e0e0e0 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 );
   }


/* TALK PAGE */
div.ckeditor {
  margin:10px 0;
  border:1px dotted #aaa;
  padding:5px;
  font-size:1.1em;
  font-family:Arial,Verdana,sans-serif;
  color:#222;
}
#talk_form #buttons {
  margin-bottom:10px;
}

div.ckeditor h1, div.ckeditor h2, div.ckeditor h3, div.ckeditor h4, div.ckeditor h5, 
div.ckeditor p, div.ckeditor ul, div.ckeditor ol {
  margin-top:10px;
}
div.ckeditor h1 {
  font-size:2em;
}
div.ckeditor h2 {
  font-size:1.4em;
}
div.ckeditor h3 {
  font-size:1.1em;
}
div.ckeditor ul {
  list-style:disc;
  margin-left:30px;
}